$shadow: 2px -2px 2px #7e7e7e;
.jsSlider-clicked {
  color: purple;
}
.hide {
  display: none;
}
#slider {
  position: relative;
  margin-top: 50px;
  margin-left: 100px;
}
.slider {
  background-color: aqua;
  position: relative;
  height: 10px;
  width: 200px;
  border-radius: 3px;
  box-shadow: $shadow;
}

.slider-range {
  background-color: blue;
  height: 100%;
  z-index: 2;
  position: absolute;
  width: 100%;
  border-radius: 3px;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    top: -0.5rem;
    filter: blur(0.4rem);
    opacity: 0.7;
    z-index: -1;
  }
}
.slider-handle {
  $bgc: black;
  background-color: $bgc;
  width: 10px;
  height: 10px;
  z-index: 5;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  &:active {
    background-color: lighten($bgc, 30%);
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      border: 1px solid $bgc;
      width: 150%;
      height: 150%;
    }
  }
}

.slider-handle--horizontal {
  transform: translate(0, -55%);
  display: flex;
  justify-content: center;
}
.slider-handle--vertical {
  transform: translate(-15%, 0);
}

.slider-max--horizontal {
  margin-left: 5px;
  transform: translateY(-50%);
  left: 100%;
}

.slider-min--vertical {
  margin-right: 5px;
  transform: translate(-10%, -120%);
}

.slider-min--horizontal {
  margin-right: 5px;
  transform: translate(-200%, -50%);
}
.values {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  user-select: none;
}
.values--corrected {
  justify-content: flex-end;
}
.slider-container {
  width: auto;
  display: flex;
  justify-content: center;
}
.slider-container--horizontal {
  align-items: center;
  flex-direction: column;
}

.slider-container--vertical--corrected {
  justify-content: space-between;
  flex-direction: row-reverse;
}
.slider-main--vertical {
  display: inline-block;
  position: relative;
}
.slider-main--horizontal {
  display: inline-flex;
  position: relative;
}
.slider-marker {
  display: flex;
  position: relative;
}
.slider-marker--vertical {
  flex-direction: column;
  left: 5px;
}

.slider-marker--horizontal {
  height: 20px;
  width: 100%;
  top: -22%;
}
.marker--major {
  $length: 5px;
  width: $length;
  height: $length;
  border-radius: 50%;
  text-align: center;
  position: relative;
  background-color: black;
  z-index: 3;
}
.marker--major--horizontal:first-child {
  margin-left: 0;
}

.marker--major--vertical:first-child {
  margin-top: 0;
}

.marker-value {
  position: absolute;
  top: 150%;
  font-size: 11px;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}
.marker-value--vertical {
  top: -50%;
  font-size: 11px;
  left: -300%;
}
.tooltip {
  left: 50%;
  border-radius: 50%;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow;
  user-select: none;
}
.tooltip--horizontal {
  top: -210%;
  color: green;
}

.tooltipStick {
  text-align: center;
  background-color: grey;
}
.tooltipStick--vertical {
  width: 15px;
  height: 1px;
}
.tooltipStick--horizontal {
  width: 1px;
  height: 15px;
}

.tooltipContainer {
  position: absolute;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltipContainer--horizontal {
  bottom: 100%;
  flex-direction: column-reverse;
}
.tooltipContainer--vertical {
  flex-direction: row-reverse;
  transform: translate(0, -37%);
  right: 100%;
}
.tooltipContainer--vertical--corrected {
  flex-direction: row;
  right: auto;
  left: 100%;
}
