$shadow: 2px -2px 2px #7e7e7e;
.slider {
  background-color: aqua;
  position: relative;
  height: 10px;
  width: 200px;
  border-radius: 3px;
  box-shadow: $shadow;
  &__main {
    position: relative;
    &--vertical {
      display: inline-block;
    }
    &--horizontal {
      display: inline-flex;
    }
  }
  &__range {
    background-color: blue;
    height: 100%;
    z-index: 2;
    position: absolute;
    width: 100%;
    border-radius: 3px;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: inherit;
      top: -0.5rem;
      filter: blur(0.4rem);
      opacity: 0.7;
      z-index: -1;
    }
  }
  &__handle {
    $bgc: black;
    background-color: $bgc;
    width: 10px;
    height: 10px;
    z-index: 5;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    &:active {
      background-color: lighten($bgc, 30%);
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: 1px solid $bgc;
        width: 150%;
        height: 150%;
      }
    }
    &--horizontal {
      transform: translate(0, -55%);
      display: flex;
      justify-content: center;
    }
    &--vertical {
      transform: translate(-15%, 0);
    }
  }
  &__max {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    user-select: none;
    &--horizontal {
      margin-left: 5px;
      transform: translateY(-50%);
      left: 100%;
    }
  }
  &__min {
    margin-right: 5px;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    user-select: none;
    &--corrected {
      justify-content: flex-end;
    }
    &--vertical {
      transform: translate(-10%, -120%);
    }
    &--horizontal {
      transform: translate(-200%, -50%);
    }
  }
  &__container {
    width: auto;
    display: flex;
    justify-content: center;
    &--horizontal {
      align-items: center;
      flex-direction: column;
    }
    &--corrected {
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
  &__marker {
    display: flex;
    position: relative;
    &--vertical {
      flex-direction: column;
      left: 5px;
    }
    &--horizontal {
      height: 20px;
      width: 100%;
      top: -22%;
    }
  }
}

.marker__pin {
  $length: 5px;
  width: $length;
  height: $length;
  border-radius: 50%;
  text-align: center;
  position: relative;
  background-color: black;
  z-index: 3;
  &--horizontal:first-child {
    margin-left: 0;
  }
  &--vertical:first-child {
    margin-top: 0;
  }
}

.marker__value {
  position: absolute;
  top: 150%;
  font-size: 11px;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  &--vertical {
    top: -50%;
    font-size: 11px;
    left: -300%;
  }
}

.tooltip {
  left: 50%;
  border-radius: 50%;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow;
  user-select: none;
  &--horizontal {
    top: -210%;
    color: green;
  }
  &__container {
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    &--horizontal {
      bottom: 100%;
      flex-direction: column-reverse;
    }
    &--vertical {
      flex-direction: row-reverse;
      transform: translate(0, -37%);
      right: 100%;
    }
    &--corrected {
      flex-direction: row;
      right: auto;
      left: 100%;
    }
  }
  &__stick {
    text-align: center;
    background-color: grey;
    &--vertical {
      width: 15px;
      height: 1px;
    }
    &--horizontal {
      width: 1px;
      height: 15px;
    }
  }
}

.js-slider-clicked {
  color: purple;
}
.hide {
  display: none;
}
#slider {
  position: relative;
  margin-top: 50px;
  margin-left: 100px;
}
