#slider {
  position: relative;
  margin-top: 50px;
  margin-left: 100px;
}
.slider {
  background-color: aqua;
  position: relative;
  height: 10px;
}

.slider-range {
  background-color: blue;
  height: 100%;
  z-index: 2;
  position: absolute;
}

.slider-handle {
  background-color: black;
  width: 10px;
  height: 10px;
  z-index: 5;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.slider-max {
  margin-left: 5px;
  transform: translateY(-50%);
}

.slider-min {
  margin-right: 5px;
  transform: translate(-100%, -50%);
  /* //TODO разные транслейты перебивают друг друга(translateX and translateY) */
}
.values {
  display: flex;
  align-items: flex-end;
}

.slider-container {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slider-main {
  width: 100%;
  display: flex;
}
.slider-marker {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 15%;
  height: 20px;
  width: 100%;
}
.marker--major {
  width: 2px;
  height: 15px;
  /* border-radius: 50%; */
  /* border: 1px solid black; */
  text-align: center;
  position: relative;
  background-color: black;
}
.marker--major:last-child {
  margin-right: 0;
}
.marker-value {
  position: absolute;
  top: 100%;
  font-size: 11px;
  left: 50%;
  transform: translateX(-50%);
}
.tooltip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -210%;
  border-radius: 50%;
  margin-bottom: 15px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  text-align: center;
}
