$shadow: 2px -2px 2px #7e7e7e;
.jsSlider-clicked {
  color: purple;
}
#slider {
  position: relative;
  margin-top: 50px;
  margin-left: 100px;
}
.slider {
  background-color: aqua;
  position: relative;
  height: 10px;
  width: 200px;
  border-radius: 3px;
  box-shadow: $shadow;
}

.slider-range {
  background-color: blue;
  height: 100%;
  z-index: 2;
  position: absolute;
  width: 100%;
  border-radius: 3px;
}
.slider-handle {
  $bgc: black;
  background-color: $bgc;
  width: 10px;
  height: 10px;
  z-index: 5;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  &:active {
    background-color: lighten($bgc, 30%);
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      border: 1px solid $bgc;
      width: 150%;
      height: 150%;
    }
  }
}

.slider-handle--horizontal {
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
}
.slider-handle--vertical {
  transform: translate(-25%, 0);
}

.slider-max--horizontal {
  margin-left: 5px;
  transform: translateY(-50%);
  left: 100%;
}

.slider-min--vertical {
  margin-right: 5px;
  transform: translate(-10%, -120%);
}

.slider-min--horizontal {
  margin-right: 5px;
  transform: translate(-200%, -50%);
}
.values {
  display: flex;
  justify-content: flex-start;
  position: absolute;
}
.slider-container {
  width: auto;
  display: flex;
  justify-content: center;
}
.slider-container--horizontal {
  align-items: center;

  flex-direction: column;
}
/* .slider-container--vertical {

} */
.slider-main--vertical {
  display: inline-block;
  position: relative;
}
.slider-main--horizontal {
  display: inline-flex;
  position: relative;
}
.slider-marker--vertical {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  flex-direction: column;
  left: 5px;
}

.slider-marker--horizontal {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 15%;
  height: 20px;
  width: 100%;
}
.marker--major--horizontal {
  width: 2px;
  height: 15px;

  text-align: center;
  position: relative;
  background-color: black;
}
.marker--major--horizontal:first-child {
  margin-left: 0;
}
.marker--major--vertical {
  width: 15px;
  height: 2px;

  text-align: center;
  position: relative;
  background-color: black;
}
.marker--major--vertical:first-child {
  margin-top: 0;
}
/* .marker--major:last-child {
  margin-right: 0;
} */
.marker-value {
  position: absolute;
  top: 100%;
  font-size: 11px;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}
.tooltip {
  /* position: absolute; */
  left: 50%;
  border-radius: 50%;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow;
}
.tooltip--horizontal {
  top: -210%;
  color: green;
}

/* .tooltip--vertical {
} */

.tooltipStick {
  text-align: center;
  background-color: grey;
}
.tooltipStick--vertical {
  width: 15px;
  height: 1px;
}
.tooltipStick--horizontal {
  width: 1px;
  height: 15px;
}

.tooltipContainer {
  position: absolute;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltipContainer--horizontal {
  bottom: 100%;
  flex-direction: column-reverse;
}
.tooltipContainer--vertical {
  flex-direction: row-reverse;
  transform: translate(0, -37%);
  right: 100%;
}
